@model IEnumerable<MVCCRUD.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Listado de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                    <div class="input-group">
                        <input type="password" class="form-control" name="Password" id="Password" disabled placeholder="Contraseña" value="@Html.DisplayFor(modelItem => item.Clave)">
                        <span class="input-group-btn">
                            <button id="verPassword" class="btn btn-default" type="button">
                                <i class="glyphicon glyphicon-eye-open"></i>
                            </button>
                        </span>
                    </div>
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
@section scripts {

        <script>
            $('#verPassword').on('mousedown', function () {
                $('#Password').attr("type", "text");
            });

            $('#verPassword').on('mouseup mouseleave', function () {
                $('#Password').attr("type", "password");
            });
        </script>
}